{%  extends "base.html" %}
{% block title %}
<br>

    {% block content %}


    {% for infoC in infoC %}
    <form  method="POST" role="form" >
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark shadow-lg p-3 mb-5 bg-body rounded mx-auto " style="width: 900px;">
    <button type="submit" class="btn btn-primary" name="FavButton" value={{ infoC }}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
</svg>
                Add to favorites
              </button>
       <h1 class="fw-light text-dark text-center">{{ infoC.country }}</h1>
          <div class="restriction">
              {% if infoC.authorization_status == 'restricted' %}
                    <h5 class="text-danger fs-6 text-center">{{ infoC.authorization_status }}</h5>
              {% else %}
                    <h5 class="text-success fs-6 text-center">{{ infoC.authorization_status }}</h5>
              {% endif %}
          </div>
         <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="badge bg-secondary text-wrap fs-6" style="width: 6rem;">Level : {{ infoC.severity }}</div>
              </li>
             <li class="list-group-item">
                 <p class=" fs-5 fw-normal text-dark">Details: {{ infoC.details }}</p>
             </li>
             <li class="list-group-item">
                <p class=" fs-5 fw-normal text-dark">Information: {{ infoC.infoRequirement }}</p>
             </li>
             <li class="list-group-item">
                <p class=" fs-5 fw-normal text-dark">Test Medical: {{ infoC.test_medical_certificate }}</p>
             </li>
             <li class="list-group-item">
                <p class=" fs-5 fw-normal text-dark">Other Medical Measures: {{ infoC.other_medical_measures }}</p>
             </li>
         </ul>
         {% if infoC.use_of_mask == True %}
            <img src=".\static\mask.svg" class="rounded float-start" alt="" width="60" height="48" title="Mask required">
         {% endif %}
         {% if infoC.nightclubs == True %}
            <img src=".\static\nightclub.svg" class="rounded float-start" alt="" width="60" height="48" title="Night club open">
         {% endif %}
         {% if infoC.restaurants == True %}
            <img src=".\static\restaurant.svg" class="rounded float-start" alt="" width="60" height="48" title="Restaurant open">
         {% endif %}
         {% if infoC.shops == True %}
            <img src=".\static\shop.svg" class="rounded float-start" alt="" width="60" height="48" title="Shops open">
         {% endif %}
         {% if infoC.vaccination == True %}
            <img src=".\static\vaccine.svg" class="rounded float-start" alt="" width="60" height="48" title="Vaccine required">
         {% endif %}
         {% if infoC.temparature_check == True %}
            <img src=".\static\temperatureCheck.svg" class="rounded float-start" alt="" width="65" height="51" title="Temperature check">
         {% endif %}
        <br>
    </div>
    </form>
   {% endfor %}
   {% endblock content %}


{% endblock %}