{%  extends "base.html" %}
{% block title %}
    <br>
<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Choose your destination</h1>
        <p class="lead text-muted">On Restrict-19 you can find all the necessary information for all travellers or workers who wish travel abroad. We collect all necessary data for a good trip during this pandemic period. </p>
        <br>
        <p>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" method="POST">
              <option selected>Select a Country</option>
               {% for countries in country %}
              <option value="1"> {{ countries.country }} </option>
                {% endfor %}
            </select>
            <a href="/res" class="btn btn-primary my-2">Search</a>
        </p>
      </div>
    </div>

{% endblock %}